<div class="container-fluid" style="padding-bottom: 30px">    
    <a href="#/components/event" class="btn btn-inverse pull-right"><i class="icon-pencil icon-white"/> Add event</a>
</div>
<div class="container-fluid">
    <tabs type="tabs-left">
            <pane heading="1 Day">
                 <calendar
                    date="date"
                    view="day"
                    eventsource="events" 
                    time-format="H a"
                    start-of-week="false"
                    days="1"
                    offset="0"
                    calendar-id="day"></calendar>
            </pane>
            <pane heading="3 Days">
                <calendar
                    date="date"
                    view="day"
                    eventsource="events" 
                    time-format="H a"
                    start-of-week="false"
                    days="3"
                    offset="-1"
                    calendar-id="day"></calendar>
            </pane>
            <pane heading="5 Days">
                 <calendar
                    date="date"
                    view="day"
                    eventsource="events" 
                    time-format="H a"
                    start-of-week="false"
                    days="5"
                    offset="-2"
                    calendar-id="day"></calendar>
            </pane>
            <pane heading="7 Days">
                <calendar
                    date="date"
                    view="day"
                    eventsource="events" 
                    time-format="H a"
                    start-of-week="false"
                    days="7"
                    offset="-3"
                    calendar-id="day"></calendar>
            </pane>
             <pane heading="1 Month">
                <calendar
                    date="date"
                    view="month"
                    days="7"
                    offset="-1"></calendar>
            </pane> 
    </tabs>
</div>