<div class="span12" style="padding-top: 30px">      
  <h1>Bootstrap Date Picker</h1>
  <p>The date picker allows you to open small popup containing all
  dates of a month. With the cursors on the left and right upper corner
  you are able to navigate between the different months. The picker is based
  on the most advanced date library <b>moment.js</b>. It offers full support
  of i18n as well as a complete set of date formatting capabilities.
  Additionally the date picker has the following properties, configurable via attributes:
  </p>
  <p>
    <ul>
      <li><b>fastScroll:</b> if enabled allows to scroll through the months
        if the cursor is above the date picker.
      </li>
      <li><b>monthLabelFormat:</b> allows to format the date label on the 
        top of the widget (currenlty ('Dezember - 2012')).
      </li>
      <li><b>dayLabelFormat:</b> allows to format the days label below 
        the month label (currently ('Do.', 'Fr.', ...)).
      </li>
      <li><b>dayFormat:</b> allows to format the days in the different
        rows of the picker itself (currently ('31', '01', ...)).
      </li>
    </ul>
  </p>
  <h2>Sample date picker</h2>
  <ng-date-picker></ng-date-picker>
</div>